{% extends "vertretungsplan_webapp/home-base.html" %}

{% block vplan %}
    {% include "vertretungsplan_webapp/home-filter.html" with filtered=vplan_filtered vplan=vplan date=vplan_date id="Vplan" %}
{% endblock vplan %}

{% block vplan_a %}
    {% include "vertretungsplan_webapp/home-filter.html" with filtered=vplan_a_filtered vplan=vplan_a date=vplan_a_date id="VplanA" %}
{% endblock vplan_a %}

{% block vplan_L %}
    {% include "vertretungsplan_webapp/home-filter.html" with filtered=vplan_l_filtered vplan=vplan_l date=vplan_l_date lehrer=True id="VplanL" %}
{% endblock vplan_L %}